@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkest: 0 0% 0%;
  --lightest: 0 0% 100%;
  --accent: 36 95% 78%;
  --dark: 60 14% 3%;
  --gray: 0 0% 20%;
  --light-gray: 60 0% 51%;
}

.blur-panel {
 background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 5.3%, rgba(0, 0, 0, 0.2) 71.55%, rgba(255, 255, 255, 0.01) 106.03%);
 mix-blend-mode: normal;
 background-blend-mode: overlay;
 backdrop-filter: blur(60px);
 opacity: .99;
}

body {
  overflow-x: hidden;
}

